.grid-area {
  display: grid;
  height: 100vh;
  grid-template-rows: 80% 20%;
  grid-template-columns: 100%;
}

.top-area {
  grid-row: 1;
  grid-column: 1;
}

.bottom-area {
  grid-row: 2;
  grid-column: 1;
}

#quiz {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 70%;
  left: 0;
  height: 30vh;
  width: 100%;
  background-color: #fff;
  z-index: 10;

  overflow-y: scroll;
}

.quiz-container:last-of-type {
  margin-bottom: 100px;
}
